<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.js"></script>
<script src="libs/jspdf.debug.js"></script>
<script src="libs/jspdf.plugin.autotable.js"></script>
<script  type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="  https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">
<p id="notice"><%= notice %></p>

<h1>Carichi</h1>

<table id="table">
  <thead>
    <tr>
      <th >Prodotto</th>
      <th>Quantità</th>
      <th></th><th></th><th></th>
    </tr>
  </thead>

  <tbody>
    <% @caricos.each do |carico| %>
      <tr>
        <td id="id"><%= carico.id_prodotto %></td>
        <td><%= carico.quantit %></td>
        <td><%= link_to 'Visualizza', carico, class:"btn btn-primary" %></td>
        <td><%= link_to 'Modifica', edit_carico_path(carico), class:"btn btn-warning" %></td>
        <td><%= link_to 'Elimina', carico, method: :delete, data: { confirm: 'Sei sicuro?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuovo Carico', new_carico_path, class:"btn btn-success" %>
<script>
				$(document).ready(function () {
          $("tr").each(function() {
            var prodotti=$.ajax({
                url:"/prodottos.json" ,
                async: false,
                dataType: 'json'
            }).responseJSON;
            var id=$(this).find('#id').text();
            for (var i = 0; i < prodotti.length; i++)
            {
              if(id==prodotti[i].id)
              {
                $(this).find('#id').text(prodotti[i].nome);
              }
            }
          });
				    $('#table').DataTable();
				} );
</script>
