<p id="notice"><%= notice %></p>

<h1>Operaziones Cat Coltures</h1>

<table>
  <thead>
    <tr>
      <th>Id operazione</th>
      <th>Id cat coltures</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operaziones_cat_coltures.each do |operaziones_cat_colture| %>
      <tr>
        <td><%= operaziones_cat_colture.id_operazione %></td>
        <td><%= operaziones_cat_colture.id_cat_coltures %></td>
        <td><%= link_to 'Show', operaziones_cat_colture %></td>
        <td><%= link_to 'Edit', edit_operaziones_cat_colture_path(operaziones_cat_colture) %></td>
        <td><%= link_to 'Destroy', operaziones_cat_colture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operaziones Cat Colture', new_operaziones_cat_colture_path %>
