<p id="notice"><%= notice %></p>

<p>
  <strong>Id operazione:</strong>
  <%= @operaziones_cat_colture.id_operazione %>
</p>

<p>
  <strong>Id cat coltures:</strong>
  <%= @operaziones_cat_colture.id_cat_coltures %>
</p>

<%= link_to 'Edit', edit_operaziones_cat_colture_path(@operaziones_cat_colture) %> |
<%= link_to 'Back', operaziones_cat_coltures_path %>
