<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.js"></script>
<script src="libs/jspdf.debug.js"></script>
<script src="libs/jspdf.plugin.autotable.js"></script>
<script  type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="  https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">
<p id="notice"><%= notice %></p>

<h1>Attrezzi</h1>

<table id="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrizione</th>
      <th>Costo carburante</th>
      <th>Deperimento</th>
      <th>Consumo</th>
      <th ></th><th></th><th></th>
    </tr>
  </thead>

  <tbody>
    <% @attrezzos.each do |attrezzo| %>
      <tr>
        <td><%= attrezzo.nome %></td>
        <td><%= attrezzo.descrizione %></td>
        <td><%= attrezzo.costo_carburante %></td>
        <td><%= attrezzo.deperimento %></td>
        <td><%= attrezzo.consumo %></td>
        <td><%= link_to 'Show', attrezzo, class:"btn btn-primary"  %></td>
        <td><%= link_to 'Edit', edit_attrezzo_path(attrezzo), class:"btn btn-warning" %></td>
        <td><%= link_to 'Destroy', attrezzo, method: :delete, data: { confirm: 'Sei sicuro?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuovo Attrezzo', new_attrezzo_path, class:"btn btn-success"%>

<script>
				$(document).ready(function () {
  				    $('#table').DataTable();
				} );
</script>
