<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @attrezzo.nome %>
</p>

<p>
  <strong>Descrizione:</strong>
  <%= @attrezzo.descrizione %>
</p>

<p>
  <strong>Costo carburante:</strong>
  <%= @attrezzo.costo_carburante %>
</p>

<p>
  <strong>Deperimento:</strong>
  <%= @attrezzo.deperimento %>
</p>

<%= link_to 'Modifica', edit_attrezzo_path(@attrezzo), class:"btn btn-warning" %> |
<%= link_to 'Indietro', attrezzos_path, class:"btn btn-info"%>
