<script  type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<%= form_with(model: operazione, local: true) do |form| %>
  <% if operazione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(operazione.errors.count, "error") %> prohibited this operazione from being saved:</h2>

      <ul>
      <% operazione.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :operazione_nome %>
  </div>

  <div class="field">
    <%= form.label :descrizione %>
    <%= form.text_area :descrizione, id: :operazione_descrizione %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
