<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.js"></script>
<script src="libs/jspdf.debug.js"></script>
<script src="libs/jspdf.plugin.autotable.js"></script>
<script  type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="  https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">
<p id="notice"><%= notice %></p>

<h1>Operazioni</h1>

<table id="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrizione</th>
      <th>Per Ha</th>
      <th></th><th></th><th></th>
    </tr>
  </thead>

  <tbody>
    <% @operaziones.each do |operazione| %>
      <tr>
        <td><%= operazione.nome %></td>
        <td><%= operazione.descrizione %></td>
        <td><%= operazione.per_ha %></td>
        <td><%= link_to 'Visualizza', operazione, class:"btn btn-primary" %></td>
        <td><%= link_to 'Modifica', edit_operazione_path(operazione), class:"btn btn-warning" %></td>
        <td><%= link_to 'Elimina', operazione, method: :delete, data: { confirm: 'Sei sicuro?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuova Operazione', new_operazione_path, class:"btn btn-success" %>
<script>
				$(document).ready(function () {
				    $('#table').DataTable();
				} );
</script>
