<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @operazione.nome %>
</p>

<p>
  <strong>Descrizione:</strong>
  <%= @operazione.descrizione %>
</p>



<%= link_to 'Modifica', edit_operazione_path(@operazione), class:"btn btn-warning" %> |
<%= link_to 'Indietro', operaziones_path, class:"btn btn-info"%>
