<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.js"></script>

<script src="libs/jspdf.debug.js"></script>
<script src="libs/jspdf.plugin.autotable.js"></script>


<script  type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

  <link rel="stylesheet" type="text/css" href="  https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">

<p id="notice"><%= notice %></p>

<h1>Trattamenti</h1>

<table id="table">
  <thead>
    <tr>

        <th>ID</th>
      <th>Data</th>
      <th>Coltura</th>
      <th>Prodotti</th>
      <th ></th><th ></th><th ></th>
    </tr>
  </thead>

  <tbody>
    <% @trattamentos.each do |trattamento| %>
      <tr class="record" id="<%= trattamento.id%>">
        <td id="ID"><%= trattamento.id%></td>
        <td><%= trattamento.data.strftime("%d/%m/%Y")%></td>
        <td id="coltura"><%= @colturas.where(id: trattamento.id_coltura).first.nome %></td>
       
        <td id="prodotti">
         <% @prodotto_trattamentos.where(id_trattamento: trattamento.id).each do |prodotto_trattamento| %>
           <%=@prodottos.where(id: prodotto_trattamento.id_prodotto).first.nome%>
          <%end%>
        </td>
        <td><%= link_to 'Visualizza', trattamento , class:"btn btn-primary" %></td>
        <td><%= link_to 'Modifica', edit_trattamento_path(trattamento) ,class: "btn btn-warning" %></td>
        <td><%= link_to 'Elimina', trattamento, method: :delete, data: { confirm: 'Sei sicuro di voler eliminare il trattamento?' },class: "btn btn-danger" %></td>  </tr>
    <% end %>
  </tbody>
</table>

<span>
<%= link_to 'Nuovo Trattamento', new_trattamento_path ,class: "btn btn-success" %>
<t><t>
<button onclick="PrintPDF()" type="button" class="btn btn-info">Esporta PDF</button>
</span>
<script>
$(document).ready(function () {
    $('#table').DataTable();


} );
/*
function PrintPDF(){
  var columns = ["Data", "Coltura", "est.ha", "s","t","if","r","Prodotto","Avversità","Dose per Ha"];




        var data = [
           <%=raw @export%>
        ];
        var doc = new jsPDF();
        doc.autoTable(columns, data);
        doc.output("dataurlnewwindow");

}
*/
</script>
