<script  type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<%= form_with(model: cat_prodotto, local: true) do |form| %>
  <% if cat_prodotto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cat_prodotto.errors.count, "error") %> prohibited this cat_prodotto from being saved:</h2>

      <ul>
      <% cat_prodotto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :cat_prodotto_nome %>
  </div>

  <div class="field">
    <%= form.label :descrizione %>
    <%= form.text_area :descrizione, id: :cat_prodotto_descrizione %>
  </div>


  <div class="field">
        <label for="cat_prodotto_id_prarent">Categoria Padre:</label><input type="text" id="ccv" disabled="disabled">
        <%= form.hidden_field :id_prarent, id: :cat_prodotto_id_prarent%>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalA">
            Seleziona categoria padre
          </button>
          <div class="modal fade" id="exampleModalA" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Seleziona categoria padre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <script>
              function Dispose1( id, nome){
                $('#cat_prodotto_id_prarent').val(id);
        console.log(id)
                  $('#ccv').val(nome);
              }
                        $(document).ready(function () {

                        $.ajax({
                            url: "/cat_prodottos.json",
                            dataType: "json",
                            timeout: 800000,
                            cache: true}).done(function (o) {
                            for (var i = 0; i < o.length; i++)
                            {
                                $('#tabcatprodottibody').append('<tr><td>' + o[i].nome + '</td><td>  <button type="button" data-dismiss="modal" class="btn btn-primary" onClick="Dispose1(\''+o[i].id+'\',\''+o[i].nome+'\')">Seleziona</button></td></tr> ');
                            }
                            $('#tabcatprodotti').DataTable();
                        });
                    });
                </script>
              <div class="modal-body">
                <table id="tabcatprodotti" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody id="tabcatprodottibody">

                </tbody>
            </table>
              </div>

            </div>
          </div>
        </div>
      </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
