<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.js"></script>
<script src="libs/jspdf.debug.js"></script>
<script src="libs/jspdf.plugin.autotable.js"></script>
<script  type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="  https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">
<p id="notice"><%= notice %></p>

<h1>Categorie Prodotti</h1>

<table id="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrizione</th>
      <th>Padre</th>
      <th></th><th></th><th></th>
    </tr>
  </thead>

  <tbody>
    <% @cat_prodottos.each do |cat_prodotto| %>
      <tr>
        <td><%= cat_prodotto.nome %></td>
        <td><%= cat_prodotto.descrizione %></td>
        <td id="<%= cat_prodotto.id %>"><%= cat_prodotto.id_prarent %></td>
        <td><%= link_to 'Visualizza', cat_prodotto, class:"btn btn-primary" %></td>
        <td><%= link_to 'Modifica', edit_cat_prodotto_path(cat_prodotto), class:"btn btn-warning" %></td>
        <td><%= link_to 'Elimina', cat_prodotto, method: :delete, data: { confirm: 'Sei sicuro?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuova Categoria Prodotto', new_cat_prodotto_path, class:"btn btn-success" %>
<script>
$(document).ready(function () {

    var categorie=$.ajax({
        url:"/cat_prodottos.json" ,
        async: false,
        dataType: 'json'
    }).responseJSON;


    for (var i = 0; i < categorie.length; i++)
    {


          $('#'+categorie[i].id).text(getCatFromID(categorie,categorie[i].id_prarent));
          console.log("ho settato il parente di "+categorie[i].nome+" ed è: "+getCatFromID(categorie,categorie[i].id_prarent))


    }

    $('#table').DataTable();

} );

function getCatFromID(categorie,id)
{

  for (var i = 0; i < categorie.length; i++)
  {
    if(id==categorie[i].id)
    {
      return categorie[i].nome;
    }

  }
}
</script>
