<p id="notice"><%= notice %></p>

<h1>Cat Prodottos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrizione</th>
      <th>Id prarent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cat_prodottos.each do |cat_prodotto| %>
      <tr>
        <td><%= cat_prodotto.nome %></td>
        <td><%= cat_prodotto.descrizione %></td>
        <td><%= cat_prodotto.id_prarent %></td>
        <td><%= link_to 'Show', cat_prodotto %></td>
        <td><%= link_to 'Edit', edit_cat_prodotto_path(cat_prodotto) %></td>
        <td><%= link_to 'Destroy', cat_prodotto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cat Prodotto', new_cat_prodotto_path %>
