<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cat_prodotto.nome %>
</p>

<p>
  <strong>Descrizione:</strong>
  <%= @cat_prodotto.descrizione %>
</p>

<p>
  <strong>Padre:</strong>
  <span id="<%= @cat_prodotto.id %>"><%= @cat_prodotto.id_prarent %></span>
</p>

<%= link_to 'Modifica', edit_cat_prodotto_path(@cat_prodotto), class:"btn btn-warning"%> |
<%= link_to 'Indietro', cat_prodottos_path, class:"btn btn-info" %>
<script>
$(document).ready(function () {

    var categorie=$.ajax({
        url:"/cat_prodottos.json" ,
        async: false,
        dataType: 'json'
    }).responseJSON;


    for (var i = 0; i < categorie.length; i++)
    {
          $('#'+categorie[i].id).text(getCatFromID(categorie,categorie[i].id_prarent));
          console.log("ho settato il parente di "+categorie[i].nome+" ed è: "+getCatFromID(categorie,categorie[i].id_prarent))
    }


} );

function getCatFromID(categorie,id)
{

  for (var i = 0; i < categorie.length; i++)
  {
    if(id==categorie[i].id)
    {
      return categorie[i].nome;
    }

  }
}
</script>
