<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @coltura.nome %>
</p>

<p>
  <strong>Estensione ha:</strong>
  <%= @coltura.estensione_ha %>
</p>

<p>
  <strong>Categoria:</strong>
  <span id="<%= @coltura.id_cat %>"></span>
</p>

<%= link_to 'Modifica', edit_coltura_path(@coltura), class:"btn btn-warning" %> |
<%= link_to 'Indietro', colturas_path , class:"btn btn-info"%>
<script>
$(document).ready(function () {

    var categorie=$.ajax({
        url:"/cat_coltures.json" ,
        async: false,
        dataType: 'json'
    }).responseJSON;


    for (var i = 0; i < categorie.length; i++)
    {
          $('#'+categorie[i].id).text(categorie[i].nome);
          console.log("ho settato il parente di "+categorie[i].nome+" ed è: "+categorie[i].nome)
    }


} );

</script>
