<p id="notice"><%= notice %></p>

<h1>Prodotto Trattamentos</h1>

<table>
  <thead>
    <tr>
      <th>Id prodotto</th>
      <th>Id trattamento</th>
      <th>Dose ha</th>
      <th>Avvesit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prodotto_trattamentos.each do |prodotto_trattamento| %>
      <tr>
        <td><%= prodotto_trattamento.id_prodotto %></td>
        <td><%= prodotto_trattamento.id_trattamento %></td>
        <td><%= prodotto_trattamento.dose_ha %></td>
        <td><%= prodotto_trattamento.avvesit %></td>
        <td><%= link_to 'Show', prodotto_trattamento %></td>
        <td><%= link_to 'Edit', edit_prodotto_trattamento_path(prodotto_trattamento) %></td>
        <td><%= link_to 'Destroy', prodotto_trattamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prodotto Trattamento', new_prodotto_trattamento_path %>
