<p id="notice"><%= notice %></p>

<p>
  <strong>Id prodotto:</strong>
  <%= @prodottos_operazione.id_prodotto %>
</p>

<p>
  <strong>Id operaziones:</strong>
  <%= @prodottos_operazione.id_operaziones %>
</p>

<%= link_to 'Edit', edit_prodottos_operazione_path(@prodottos_operazione) %> |
<%= link_to 'Back', prodottos_operaziones_path %>
