<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.js"></script>
<script src="libs/jspdf.debug.js"></script>
<script src="libs/jspdf.plugin.autotable.js"></script>
<script  type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="  https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">
<p id="notice"><%= notice %></p>

<h1>Prezzi</h1>

<table id="table">
  <thead>
    <tr>
      <th>Data</th>
      <th>Prodotto</th>
      <th>Prezzo fattura</th>
      <th>Sconto</th>
      <th></th><th></th><th></th>
    </tr>
  </thead>

  <tbody>
    <% @prezzos.each do |prezzo| %>
      <tr>
        <td><%= prezzo.data.strftime("%m/%d/%Y") %></td>
        <td id="<%= prezzo.id_prodotto %>"></td>
        <td><%= prezzo.prezzo_fattura %></td>
        <td><%= prezzo.sconto %></td>
        <td><%= link_to 'Visualizza', prezzo, class:"btn btn-primary" %></td>
        <td><%= link_to 'Modifica', edit_prezzo_path(prezzo), class:"btn btn-warning" %></td>
        <td><%= link_to 'Elimina', prezzo, method: :delete, data: { confirm: 'Sei sicuro?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuovo Prezzo', new_prezzo_path, class:"btn btn-success" %>
<script>
$(document).ready(function () {
  $("tr").each(function() {
    var prodotti=$.ajax({
        url:"/prodottos.json" ,
        async: false,
        dataType: 'json'
    }).responseJSON;
    for (var i = 0; i < prodotti.length; i++)
    {

        $('#'+prodotti[i].id).text(prodotti[i].nome);

    }
  });
    $('#table').DataTable();
} );
</script>
