<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @prezzo.data.strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>Prodotto:</strong>
<span id="<%= @prezzo.id_prodotto %>"></span>
</p>

<p>
  <strong>Prezzo fattura:</strong>
  <%= @prezzo.prezzo_fattura %>
</p>

<p>
  <strong>Sconto:</strong>
  <%= @prezzo.sconto %>
</p>

<%= link_to 'Modifica', edit_prezzo_path(@prezzo), class:"btn btn-warning" %> |
<%= link_to 'Indietro', prezzos_path , class:"btn btn-info"%>
<script>
$(document).ready(function () {

    var categorie=$.ajax({
        url:"/prodottos.json" ,
        async: false,
        dataType: 'json'
    }).responseJSON;


    for (var i = 0; i < categorie.length; i++)
    {
          $('#'+categorie[i].id).text(categorie[i].nome);
          console.log("ho settato il parente di "+categorie[i].nome+" ed è: "+categorie[i].nome)
    }


} );

</script>
