<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.js"></script>
<script src="libs/jspdf.debug.js"></script>
<script src="libs/jspdf.plugin.autotable.js"></script>
<script  type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="  https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">
<p id="notice"><%= notice %></p>

<h1>Prodotti</h1>

<table id="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Avversità</th>
      <th >Categoria</th>
      <th></th><th></th><th></th>
    </tr>
  </thead>

  <tbody>
    <% @prodottos.each do |prodotto| %>
      <tr>
        <td><%= prodotto.nome %></td>
        <td><%= prodotto.avversit %></td>
        <td id="cat"><%= prodotto.id_cat %></td>
        <td><%= link_to 'Visualizza', prodotto, class:"btn btn-primary" %></td>
        <td><%= link_to 'Modifica', edit_prodotto_path(prodotto), class:"btn btn-warning" %></td>
        <td><%= link_to 'Elimina', prodotto, method: :delete, data: { confirm: 'Sei sicuro?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuovo Prodotto', new_prodotto_path, class:"btn btn-success" %>
<script>
				$(document).ready(function () {
  var categorie=$.ajax({
                  url:"/cat_prodottos.json" ,
                  async: false,
                  dataType: 'json'
              }).responseJSON;
            $("tr").each(function() {
            
              var id_cat=$(this).find('#cat').text();
              for (var i = 0; i < categorie.length; i++)
              {
                if(id_cat==categorie[i].id)
                {
                  $(this).find('#cat').text(categorie[i].nome);
                }
              }
            });
            $('#table').DataTable();
				} );
</script>
