<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.js"></script>

<script src="libs/jspdf.debug.js"></script>
<script src="libs/jspdf.plugin.autotable.js"></script>


<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @prodotto.nome %>
</p>

<p>
  <strong>Avversità:</strong>
  <%= @prodotto.avversit %>
</p>

<p>
  <strong>Categoria:</strong>
  <span id="<%= @prodotto.id_cat %>"></span>
</p>

<%= link_to 'Modifica', edit_prodotto_path(@prodotto), class:"btn btn-warning" %> |
<%= link_to 'Indietro', prodottos_path , class:"btn btn-info"%>

<h1>Che operazioni puoi fare con questo prodotto?</h1>
<table id="tableOperazioni">
  <thead>

      <th>Nome</th>

      <th></th>

  </thead>

  <tbody id="tableOperazioniBody">

  </tbody>
</table>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalA">
  Seleziona Operazione
</button>
<div class="modal fade" id="exampleModalA" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Seleziona Operazione</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <script>
    function Dispose1( id, nome){

      $("#id_operazione").val(id);
      $("#add_operazione").submit();
      console.log(id)
      console.log(nome)
    }
              $(document).ready(function () {

              $.ajax({
                  url: "/operaziones.json",
                  dataType: "json",
                  timeout: 800000,
                  cache: true}).done(function (o) {
                  for (var i = 0; i < o.length; i++)
                  {
                      $('#tabcolturebody').append('<tr><td>' + o[i].nome + '</td><td>  <button type="button" data-dismiss="modal" class="btn btn-primary" onClick="Dispose1(\''+o[i].id+'\',\''+o[i].nome+'\')">Seleziona</button></td></tr> ');
                  }
                  $('#tabcolture').DataTable();
              });
          });
      </script>
    <div class="modal-body">
      <table id="tabcolture" class="display" cellspacing="0" width="100%">
      <thead>
          <tr>
              <th>Nome</th>
              <th></th>

          </tr>
      </thead>
      <tbody id="tabcolturebody">

      </tbody>
  </table>
  <form action="/prodottos_operaziones" accept-charset="UTF-8" method="post" id="add_operazione"><input name="utf8" value="✓" type="hidden"><input name="authenticity_token" value="IdzYEF+mu3McIpWIHMpZRiwtZzs9RTSJntqmAMBXjHrvraW3ADrgPaReIUmYfkK5Rp7DAl3IB0UJtf5F/kq+vQ==" type="hidden">

  <div class="field">
    <input id="prodottos_operazione_id_prodotto" name="prodottos_operazione[id_prodotto]" type="hidden" value="<%= @prodotto.id %> ">
  </div>

  <div class="field">
    <input id="id_operazione" name="prodottos_operazione[id_operaziones]" type="hidden" value="">
  </div>

  <div class="actions">
    <input name="commit" value="Create Prodottos operazione" data-disable-with="Create Prodottos operazione" type="submit">
  </div>
</form>
    </div>

  </div>
</div>
</div>


<script>
$(document).ready(function () {
var prodottos_operaziones=$.ajax({
    url:"/prodottos_operaziones.json" ,
    async: false,
    dataType: 'json'
}).responseJSON;


var operazione=$.ajax({
    url:"/operaziones.json" ,
    async: false,
    dataType: 'json'
}).responseJSON;


  for (var i = 0; i < prodottos_operaziones.length; i++)
  {
    for (var k = 0; k < operazione.length; k++)
    {
      if(operazione[k].id==prodottos_operaziones[i].id_operaziones && prodottos_operaziones[i].id_prodotto=="<%= @prodotto.id %> ")
      {
        $('#tableOperazioniBody').append('<tr><td>' + operazione[k].nome + '</td><td>    <a data-confirm="Sei sicuro?" class ="btn btn-danger"  rel="nofollow" data-method="delete" href="/prodottos_operaziones/' + prodottos_operaziones[i].id+ '">Elimina</a></td></tr> ');
      }
    }
  }

$('#tableOperazioni').DataTable();
});
</script>
<script>
$(document).ready(function () {

    var categorie=$.ajax({
        url:"/cat_prodottos.json" ,
        async: false,
        dataType: 'json'
    }).responseJSON;


    for (var i = 0; i < categorie.length; i++)
    {
          $('#'+categorie[i].id).text(categorie[i].nome);
          console.log("ho settato il parente di "+categorie[i].nome+" ed è: "+categorie[i].nome)
    }


} );

</script>
